body {
    background-image: url("/images/bg.png");
  }
          .inter {
              font-family: "Inter", sans-serif;
          }
  
          @keyframes appear {
              from {
                  width: 0;
                  opacity: 0;
              }
  
              to {
                  width: 24px;
                  opacity: 1;
              }
          }
  
          .hover-appear:hover svg {
              animation: appear 0.3s forwards;
          }